<a href="https://colab.research.google.com/github/MamatkulovBunyodbek1999/Matnlar/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from pandas import Series

In [2]:
data1 = Series([1,2,3,4,5])

In [ ]:
Series

pandas.core.series.Series

In [ ]:
data1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
data2=Series([4,3,6,1], index=['a','b','c','d']) # index barish

In [ ]:
data2

a    4
b    3
c    6
d    1
dtype: int64

In [ ]:
data2[['c','a','b','d']]                    # index larni chaqirib olishda  " [  []  ] " ko'rinishaida bo;lishi shart

c    6
a    4
b    3
d    1
dtype: int64

In [ ]:
data2[data2>=3]   # Seriesda N kiritilgan sondan katta yoki kichkina  qiymatlarni chaqirib olish

a    4
b    3
c    6
dtype: int64

In [ ]:
data2

a    4
b    3
c    6
d    1
dtype: int64

In [ ]:
data2*2

a     8
b     6
c    12
d     2
dtype: int64



Lug'atlarni Series ko'rinishiga o'tkazish

In [ ]:
data3_dict = {'mazda': 5000,'lacetti': 10000,'malibu': 15000,'nexia': 6000,}

In [ ]:
type(data3_dict)

dict

In [ ]:
cars = Series(data3_dict)          # lug;atni seriesga o'zgartirish

In [ ]:
type(cars)

pandas.core.series.Series

In [ ]:
cars['malibu']

15000

Yangi list yaratib, uni index o'rnida qo'llash

In [ ]:
models = ['lacetti', 'mazda', 'nexia', 'malibu', ]

In [ ]:
cars1 = Series(cars ,   index= models)

In [ ]:
cars1

lacetti    10000
mazda       5000
nexia       6000
malibu     15000
dtype: int64

Yana bir misol

In [ ]:
mevalar={ 'olma' : 5000, 'anor' : 7000, 'anjir'  : 23000, 'apelsin' : 21000  }

In [ ]:
mevalar_royhat = ['anor', 'anjir', 'apelsin', 'olma',]

In [ ]:
mevalar1 = Series(mevalar, index=mevalar_royhat)

In [ ]:
mevalar1

anor        7000
anjir      23000
apelsin    21000
olma        5000
dtype: int64

data.isnull()  va data.notnull() tekshirish fumksiyalar

In [ ]:
mevalar1

anor        7000
anjir      23000
apelsin    21000
olma        5000
dtype: int64

In [ ]:
mevalar1.notnull()

anor       True
anjir      True
apelsin    True
olma       True
dtype: bool

Ikkita Series malumot yaratib, ular ustida arifmetik amallar ham bajarsa bo'ladi

In [ ]:
phone1=Series({'galaxy':2000, 'apple':3000, 'sony':1500,})

In [ ]:
phone1

galaxy    2000
apple     3000
sony      1500
dtype: int64

In [ ]:
phone2=Series({'galaxy':2000, 'apple':3000, 'sony':1500,})

In [ ]:
phone3 = phone1 + phone2               # 1- 2- malumotlarimizni bir biriga qo'shib oldik

.name va .index.name haqida

In [ ]:
phone3.name = 'Telefon do\'kon'

In [ ]:
phone3.index.name = 'Telefonlar'     # "key" larning ustuniga nom beradi

In [ ]:
phone3

Telefonlar
galaxy    4000
apple     6000
sony      3000
Name: Telefon do'kon, dtype: int64

DataFrame bilan tanishamiz.
Seriesdan farqli o'laroq DataFrame qatorlar va ustunlardan tashkil topgan bo'ladi

In [ ]:

data_dict = {
             'yillar': [2010,2011,2012, 2013],
             'Aholi Soni': [32,33,33.5,34.5] 
          
            }

In [ ]:
yillar = ['A index','B index','C index','D index']

In [ ]:
df =pd.DataFrame(data_dict, index=yillar)

.head(N) bu operator yordamida "DF" dagi eng birinchi 'n' ta malumotni ko;rishimiz mumkin bo'ladi

In [ ]:
df.head(3)

         yillar  Aholi Soni
A index    2010        32.0
B index    2011        33.0
C index    2012        33.5

.shape yordamida DataFrame ning o'lchamlarini olishimikz mumkin

In [ ]:
df.shape

(4, 2)

In [ ]:

# df DataFrame malumot turimiz 4 qator ga va 2 ustunga teng ekan
df

         yillar  Aholi Soni
A index    2010        32.0
B index    2011        33.0
C index    2012        33.5
D index    2013        34.5

Columns bilan tanishish

In [ ]:
# yangi bir df yaratib olamiz
df1 =pd.DataFrame({
                     'Yillar':[2010,2011,2012,2013,2014],
                     'Sotilgan Tavarlar ming KG da' : [10,13,15,17,19],
                     'Soliq stavkalari foizlarda %':[12,15,13,17,15.5]
                     
                  })

In [ ]:
dict_data = {
              'Mahsulotlar': ['olma','anor','tarvuz','shaftoli','anjir','nok','xurmo',],
              'Kunlik sarf miqdori KG da':[20,14,12,9,9,17,9],
              'Narxlari 1-kg uchun': [6000,12000,4000,14000,25000,8000,11000]
            }

In [ ]:
mevalarDF=pd.DataFrame(dict_data)

In [ ]:
mevalarDF

  Mahsulotlar  Kunlik sarf miqdori KG da  Narxlari 1-kg uchun
0        olma                         20                 6000
1        anor                         14                12000
2      tarvuz                         12                 4000
3    shaftoli                          9                14000
4       anjir                          9                25000
5         nok                         17                 8000
6       xurmo                          9                11000

In [ ]:
mevalarDF=pd.DataFrame(dict_data, columns=['Mahsulotlar','Narxlari 1-kg uchun',  'Kunlik sarf miqdori KG da', 'YIM'], index=[1,2,3,4,5,6,7] )

In [ ]:
mevalarDF

  Mahsulotlar  Narxlari 1-kg uchun  Kunlik sarf miqdori KG da  YIM
1        olma                 6000                         20  NaN
2        anor                12000                         14  NaN
3      tarvuz                 4000                         12  NaN
4    shaftoli                14000                          9  NaN
5       anjir                25000                          9  NaN
6         nok                 8000                         17  NaN
7       xurmo                11000                          9  NaN

In [ ]:
YIM=mevalarDF['YIM']

In [ ]:
mevalarDF

  Mahsulotlar  Narxlari 1-kg uchun  Kunlik sarf miqdori KG da  YIM
1        olma                 6000                         20  NaN
2        anor                12000                         14  NaN
3      tarvuz                 4000                         12  NaN
4    shaftoli                14000                          9  NaN
5       anjir                25000                          9  NaN
6         nok                 8000                         17  NaN
7       xurmo                11000                          9  NaN

In [ ]:
val =pd.Series([100,900,1200,500,450,1232,3200],  index=[1,2,3,4,5,6,7])                          # Yangi o'zgaruvchi yaratib oldik
mevalarDF.YIM=val   #mevalarDF['YIM']= val   -- ham ishlaydi.       # va uni DataFrame dagi qiymatga tenglab olamiz

In [ ]:
mevalarDF

  Mahsulotlar  Narxlari 1-kg uchun  Kunlik sarf miqdori KG da   YIM
1        olma                 6000                         20   100
2        anor                12000                         14   900
3      tarvuz                 4000                         12  1200
4    shaftoli                14000                          9   500
5       anjir                25000                          9   450
6         nok                 8000                         17  1232
7       xurmo                11000                          9  3200

In [ ]:
mevalarDF['700+']=mevalarDF.YIM > 700         # 700+ qiymatlarni korsatadi TRUE FALSE qilib

In [ ]:
mevalarDF

  Mahsulotlar  Narxlari 1-kg uchun  Kunlik sarf miqdori KG da   YIM   700+
1        olma                 6000                         20   100  False
2        anor                12000                         14   900   True
3      tarvuz                 4000                         12  1200   True
4    shaftoli                14000                          9   500  False
5       anjir                25000                          9   450  False
6         nok                 8000                         17  1232   True
7       xurmo                11000                          9  3200   True

Qayta indexlash.

In [ ]:
data3 = {
          'YILLAR': [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022] ,
          'AHOLI SONI':[28.5,29,30.2,30.8,31.2,32.8,33,33.7,34.1,34.9,35,35.5,36.2],
          "O'SISH TEMPI":[1.1,1.32,1.21,1.13,1.31,  1.36,1.23,1.65,1.52,1.41,  1.12,1.23,1.10]
        }
df3=pd.DataFrame(data3)

In [ ]:
df3

    YILLAR  AHOLI SONI  O'SISH TEMPI
0     2010        28.5          1.10
1     2011        29.0          1.32
2     2012        30.2          1.21
3     2013        30.8          1.13
4     2014        31.2          1.31
5     2015        32.8          1.36
6     2016        33.0          1.23
7     2017        33.7          1.65
8     2018        34.1          1.52
9     2019        34.9          1.41
10    2020        35.0          1.12
11    2021        35.5          1.23
12    2022        36.2          1.10

Malum bir indekslarni qoldirib, qolganlarini esa tashlab yuborish usuli. ".REINDEX" usuli

In [ ]:
df3.reindex([0,5,7])

   YILLAR  AHOLI SONI  O'SISH TEMPI
0    2010        28.5          1.10
5    2015        32.8          1.36
7    2017        33.7          1.65

In [ ]:
df3

    YILLAR  AHOLI SONI  O'SISH TEMPI
0     2010        28.5          1.10
1     2011        29.0          1.32
2     2012        30.2          1.21
3     2013        30.8          1.13
4     2014        31.2          1.31
5     2015        32.8          1.36
6     2016        33.0          1.23
7     2017        33.7          1.65
8     2018        34.1          1.52
9     2019        34.9          1.41
10    2020        35.0          1.12
11    2021        35.5          1.23
12    2022        36.2          1.10

In [ ]:
df3=pd.DataFrame(data3,columns=['AHOLI SONI',"O'SISH TEMPI", 'YILLAR'] )# Columns ni o\'zgartirish'
df3.index.name='Indekslar'    # indekslar ustuniga nom berish                                
df3

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
1                29.0          1.32    2011
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016
7                33.7          1.65    2017
8                34.1          1.52    2018
9                34.9          1.41    2019
10               35.0          1.12    2020
11               35.5          1.23    2021
12               36.2          1.10    2022

In [ ]:
df3.reindex(index=range(0,7))  # Range yordamida n indexdan z index gacha bo;lgan malumotlarni chaqirib olish.

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
1                29.0          1.32    2011
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016

In [ ]:
df3.reindex(index=range(0,13))

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
1                29.0          1.32    2011
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016
7                33.7          1.65    2017
8                34.1          1.52    2018
9                34.9          1.41    2019
10               35.0          1.12    2020
11               35.5          1.23    2021
12               36.2          1.10    2022

In [ ]:
df3

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
1                29.0          1.32    2011
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016
7                33.7          1.65    2017
8                34.1          1.52    2018
9                34.9          1.41    2019
10               35.0          1.12    2020
11               35.5          1.23    2021
12               36.2          1.10    2022

df4=df3.reindex(columns=['AHOLI SONI',"O'SISH TEMPI"],) # yangi df yaratib, kerakli ustunlarni qoldirdik qolganlarini esa tashlab yubordik
df4

In [ ]:
df3

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
1                29.0          1.32    2011
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016
7                33.7          1.65    2017
8                34.1          1.52    2018
9                34.9          1.41    2019
10               35.0          1.12    2020
11               35.5          1.23    2021
12               36.2          1.10    2022

.drop() usluli.

In [ ]:
df3.drop(1)       #Asosiy DF ga o'zgartirish kiritmagan xolda indekslarni tashlab yuborish

           AHOLI SONI  O'SISH TEMPI  YILLAR
Indekslar
0                28.5          1.10    2010
2                30.2          1.21    2012
3                30.8          1.13    2013
4                31.2          1.31    2014
5                32.8          1.36    2015
6                33.0          1.23    2016
7                33.7          1.65    2017
8                34.1          1.52    2018
9                34.9          1.41    2019
10               35.0          1.12    2020
11               35.5          1.23    2021
12               36.2          1.10    2022

In [ ]:
df3.drop('AHOLI SONI', axis='columns')    #Asosiy DF ga o'zgartirish kiritmagan xolda Ustunlarni  tashlab yuborish (axis=1 yoki [axis=columns] deb yozish shart.

           O'SISH TEMPI  YILLAR
Indekslar
0                  1.10    2010
1                  1.32    2011
2                  1.21    2012
3                  1.13    2013
4                  1.31    2014
5                  1.36    2015
6                  1.23    2016
7                  1.65    2017
8                  1.52    2018
9                  1.41    2019
10                 1.12    2020
11                 1.23    2021
12                 1.10    2022

inplace=True metodi bilan asosiy DF ga o'zgartirish kiritishimiz mumkin

In [ ]:
df3.drop('YILLAR', axis=1, inplace=True)  # Bu metod yordamida Asil DF ga o'zgartirish kiritishimiz mumkin

In [ ]:
df3

           AHOLI SONI  O'SISH TEMPI
Indekslar
0                28.5          1.10
1                29.0          1.32
2                30.2          1.21
3                30.8          1.13
4                31.2          1.31
5                32.8          1.36
6                33.0          1.23
7                33.7          1.65
8                34.1          1.52
9                34.9          1.41
10               35.0          1.12
11               35.5          1.23
12               36.2          1.10

Ustunlarni DataFrame ko'rinishida chaqqirib olish usuli

In [ ]:
data_DF=df3[['AHOLI SONI']]        # data=df[[]] ko'rinishida yozilishi shart. ikkita [[]] qavslarsiz iloji yo;q
data_DF

           AHOLI SONI
Indekslar
0                28.5
1                29.0
2                30.2
3                30.8
4                31.2
5                32.8
6                33.0
7                33.7
8                34.1
9                34.9
10               35.0
11               35.5
12               36.2

In [ ]:
data_DF=df3['AHOLI SONI'] # Bu holda esa pandas bizga faqat Series malumotini uzatadi, chunki biz faqat bittz [] qavs ishlatdik 
data_DF

Indekslar
0     28.5
1     29.0
2     30.2
3     30.8
4     31.2
5     32.8
6     33.0
7     33.7
8     34.1
9     34.9
10    35.0
11    35.5
12    36.2
Name: AHOLI SONI, dtype: float64

**2 ta DataFrame yaratib olib ikkisini bir biriga qo'shish**

In [ ]:
dfr1=pd.DataFrame({ 
                   'Lacetti': {2020:14000,2019:13000,2018:12000},
                   'Spark': {2020:8000,2019:7000,2018:6500}
                   })
dfr1

      Lacetti  Spark
2020    14000   8000
2019    13000   7000
2018    12000   6500

In [ ]:
dfr2=pd.DataFrame({ 
                   'Malibu': {2020:14000,2019:13000,2018:12000},
                   'Nexia3': {2020:12000,2019:11000,2018:10000}
                   })
dfr2

      Malibu  Nexia3
2020   14000   12000
2019   13000   11000
2018   12000   10000

In [ ]:
dfr1.append(dfr2)

      Lacetti   Spark   Malibu   Nexia3
2020  14000.0  8000.0      NaN      NaN
2019  13000.0  7000.0      NaN      NaN
2018  12000.0  6500.0      NaN      NaN
2020      NaN     NaN  14000.0  12000.0
2019      NaN     NaN  13000.0  11000.0
2018      NaN     NaN  12000.0  10000.0

In [ ]:
dfr1

      Lacetti  Spark
2020    14000   8000
2019    13000   7000
2018    12000   6500

**Malum bir indexlar, qaysidir dataframeda bormi yoki yo'q tekshirish usuli .ISIN(DF)**

In [ ]:
newind = pd.Index(['Nexia3'])

In [ ]:
newind.isin(dfr2)

array([ True])

In [ ]:
df.index.difference(df)

ValueError: ignored

**indexlar bilan ishlashda yordam beradigan metodlar!**
df.index.difference(df)
df.index.delete(df)
df.index.drop('string')
df.index.is_unique
df.index.insert(2, 'Masha') # indexning 2- o'rniga mashani qo'shamiz
df.index.is_monotonic
df.index.unique

**bold text**

QAYTA INDEKSLASH !!! 
bizda malum bir df bor, va uni qayta index lash quyidagicha bo'ladi: 
df.index = [1,2,3,4,5....]

ISTALGAN USTUB VA QATORLARNI CHAQIRIB OLISH USULI : 
df.loc[[1,2,3,],['Tavar','Narxlar']].


KERAKSIZ INDEX LARNI TASHLAB YUBORISH :
tasavvur qiling bizda malum bir [df=dataframe] bor.
**df2=df.drop(10)**..... 
"**.drop(n)** yordamida n inchi indexni tashlab yubordik.

BIR NECHTA QATORLARNI TASHLAB YUBORISH: df2=df.drop([x,y,z])

USTUNLARNI TASHLAB YUBORISH USULI 
**df2=df.drop('ustun nomi', axis=1)**  yoki df2=df.drop('ustun nomi', axis='columns')

YUQORIDAGI HOLATLARDA ASOSIY DF O'ZGARMAYDI. O'ZGARTIRISH UCHUN ESA 
INPLACE=TRUE QO'LLASHIMIZ KERAK.
df2=df.drop('ustun nomi', axis=1, inplace=True). bu holatda yoqotilgan datalar qayta topilmaydi, extyot bo'lishimiz kerak !!

.loc[] VA .iloc[] metodlari bilan tanishamiz.
.loc[[2019,2020],['Uzbekistan','Tajikistan']] index nomlari orqali chaqirib olish.

.iloc[[1,3],[1,5]] : bu metod bilan pandas indexlash asosida malumotlatni chaqirib olishimiz mumkin.

DataFRame nim ayni bir yagona malumotini chaqirib olish 
df.at[2015, 'Uzbekistan']. Bundan olingan Na Seies Na dataframe ham emas, oddiy qiymat korinishida qaytadi. 



df.iat[2,3]   BU METOD YORDAMIDA QATOR NOMI OLDINIGA (BIZNING HOLATDA 2) USTUN NOMI INDEXI KEYINIGA YOZILADI (3).

df.add()
df.sub()
df.div()

df.add()
df.rsub()
df.rdiv()

funksiyalarni qo'llash.

np.abs(df) # absolut qiymat qaytaradi. Df da manfiymi mubatmi barcha elementlarni musbat ko'rinishida qayataradi.


np.round(df)  # df ning elementlarini butun songa otkazadi.

df.mean()   /   df.mean(axis=1)   # elementlarni qo'shib elementlar soniga bo'ladi.

Malumotlarni tartiblash. 

df.sort_values(by='something') 

YOKI 2 TA XARAKTERISTIKA BO'YICHA TARTIBLASH:
 df.sort_values(by=['price','year'], ascending=True)

COLUMNS larni alifbo tartibida tartiblash:
df.sort_index(axis=1, inplace=True)

MALUMOTLARNI REYTINGLASH.

df['rating']=df['mileage'].rank(method='avarage')
df.sort_values('mileage')